version: "3.8"
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: hotel_db
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: # optional if you want to dockerize backend; not required to test locally
      context: ./backend
    environment:
      - DATABASE_URL=mysql+asyncmy://myuser:mypassword@mysql:3306/hotel_db
    depends_on:
      - mysql

volumes:
  mysql_data:
